<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/students" method="post">
		<input type="text" name="name" /> <br />
		<input type="text" name="gpa" /> <br />
		<select name="major">
			<option value="web">Web Design</option>
			<option value="java">Java</option>
			<option value="graphics">Graphic</option>
			<option value="net">.Net</option>
		</select><br />
		<input type="submit" value="Register" />
		<input type="submit" value="List Students" />
	</form>
</body>
</html>